.git
.github
.phive
build
docs/CHANGELOG.md
docs/TODO.md
docs/SEMVER.md
tests
vendor
.php-cs-fixer.dist.php
composer.lock
phpcs.xml.dist
phpstan.neon.dist
phpunit.xml.dist
sonar-project.properties
Dockerfile
.dockerignore
README.md
LICENSE
CONTRIBUTING.md
CODE_OF_CONDUCT.md
